@{
    ViewData["Title"] = "Vendas";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/venda.css" />

<section>
    <div class="text-center container">
        <h2>VENDAS</h2>

        <div>
            <div id="errorModal" style="display: none">
                <div id="msgError" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="fa fa-ban"></i>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

                    <span id="erroMsg"></span>
                </div>
            </div>
            <div id="sucessModal" style="display: none">
                <div id="msgSucess" class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="fa fa-check"></i>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

                    <span id="sucessMsg"></span>
                </div>
            </div>
        </div>

        <div class="form-group mt-1 mb-3" style="display: table;">
            <button onclick="modalIniciarVenda();" type="button" class="btn btn-success" color:white;">Registrar Venda</button>
        </div>

        <table id="list_items" class="table table-bordered table-striped">
            <thead class="table-info">
                <tr>
                    <th>Cliente</th>
                    <th>Data</th>
                    <th>Qtd. Itens</th>
                    <th>Forma Pagamento</th>
                    <th>Valor Total</th>
                    <th>Status</th>
                    <th>Detalhes</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot class="table-info">
                <tr>
                    <th>Cliente</th>
                    <th>Data</th>
                    <th>Qtd. Itens</th>
                    <th>Forma Pagamento</th>
                    <th>Valor Total</th>
                    <th>Status</th>
                    <th>Detalhes</th>
                    <th>Ação</th>
                </tr>
            </tfoot>
        </table>
    </div>


</section>

<div id="modalIniciarVenda" style="text-align:center; color:black">
    <div class="modal fade" id="modal-iniciar-venda" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Iniciar Venda</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body">
                    <div class="row">
                        
                        <div class="col-sm-12">
                            <h5> Escolha o cliente </h5>
                        </div>

                        <div class="col-sm-12">

                            <select id="select-clientes" class="form-select">
                                @foreach (var item in @ViewBag.Clientes)
                                {
                                    <option value="@item.Guuid">@item.Nome @item.Sobrenome</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-iniciar-venda" class="btn btn-primary pull-right">Iniciar Venda</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalDetalhes">
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#btn-iniciar-venda').on('click', iniciarVenda);
        listar();
    });

    function listar() {
        $('#list_items').dataTable({
            'bPaginate': true,
            'bJQueryUI': true,
            'bProcessing': true,
            'bServerSide': true,
            "searching": true,
            'bDestroy': true,
            'sAjaxSource': `@Url.Action("VendasPagination", "Venda")`,
            'sServerMethod': 'POST',
            'aoColumns': [
                { 'mData': 'nome_cliente' },
                { 'mData': 'data_inclusao' },
                { 'mData': 'qtd_itens' },
                { 'mData': 'tipo_pagamento' },
                { 'mData': 'valor_total' },
                { 'mData': 'sts_venda' },
                { 'mData': 'detalhes' },
                { 'mData': 'acao' }
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json"
            }
        });
    };

    function modalIniciarVenda() {
        $('#modal-iniciar-venda').modal('show');

    }

    function iniciarVenda() {
        let guuid_cliente = $('#select-clientes').val();
        window.location.href = `@Url.Action("RegistrarVenda", "Venda")?guuid_cliente=${guuid_cliente}`;
    }


   function cancelarVenda(guuid_venda) {
        $.ajax({
            type: 'POST',
            data: {
                'guuid_venda': guuid_venda,
            },
            url: '@Url.Action("CancelarVenda", "Venda")',
            success: function (result) {
                if (result.is_action) {
                    $('#msgSucess-produto #sucessMsg-produto').html('Venda cancelada com sucesso.');
                    $('#sucessModal-produto').show();

                    listar();
                }
                else {
                    $('#msgError-produto #erroMsg-produto').html(result.error);
                    $('#errorModal-produto').show();
                }
            },
            error: function (error)
            {
                $('#msgError-produto #erroMsg-produto').html(error.error);
                $('#errorModal-produto').show();
            },
            datatype: 'json'
        });
   }

    function modalDetalhes(guuid_venda) {

        $.ajax({
            type: 'POST',
            data: {
                'guuid_venda': guuid_venda,
            },
            url: '@Url.Action("CarrinhoVenda", "Venda")',
            success: function (result) {
                $('#modalDetalhes').html(result);
                $('#modal-detalhes').modal('show');
            },
            error: function (error) {
                $('#msgError-produto #erroMsg-produto').html(error.error);
                $('#errorModal-produto').show();
            },
            datatype: 'json'
        });
    }

</script>