@{
    ViewData["Title"] = "Registrar Venda";
    Layout = "_Layout";
    string pedido = @ViewBag.Guuid_Carrinho;
}

<link rel="stylesheet" href="~/css/venda.css" />

<section>
    <div class="container">
        <br />
        <h2 class="text-center">Registrar Venda</h2>

        <div>
            <div id="errorModal" style="display: none">
                <div id="msgError" class="alert alert-danger alert-dismissible fade show">
                    <i class="fa fa-ban"></i>
                    <button class="btn-close" onclick="fechar_alerta();" aria-hidden="true" type="button"></button>

                    <span id="erroMsg"></span>
                </div>
            </div>
            <div id="sucessModal" style="display: none">
                <div id="msgSucess" class="alert alert-success alert-dismissible fade show">
                    <i class="fa fa-check"></i>
                    <button class="btn-close" onclick="fechar_alerta();" aria-hidden="true" type="button"></button>

                    <span id="sucessMsg"></span>
                </div>
            </div>
        </div>

        <div class="row mt-2 mb-2">
            <div class="col-sm-1">
                <label>Cliente:</label>
            </div>

            <div class="col-sm-3">
                <input type="text" id="guuid_cliente" name="guuid_cliente" value="@ViewBag.Cliente.Guuid" style="display:none" />
                <span>@ViewBag.Cliente.Nome @ViewBag.Cliente.Sobrenome</span>
            </div>
        </div>

        <div class="row mt-2 mb-2">
            <div class="col-sm-1">
                <label>Produtos:</label>
            </div>

            <div class="col-sm-3">
                <select id="select-produtos" class="form-select">
                    @foreach (var item in @ViewBag.Produtos)
                    {
                        <option value="@item.Guuid">@item.Nome - R$ @item.Valor</option>
                    }
                </select>
            </div>
            <div class="col-sm-2">
                <input type="text" placeholder="desconto" id="desconto" name="desconto" class="form-control" />
            </div>

            <div class="col-sm-3">
                <button type="button" class="btn btn-success" onclick="adicionarProduto();">Adicionar</button>
            </div>

        </div>

        <div class="row mt-2 mb-2">
            <div class="col-sm-6">
                <label>Pedido: </label> <span id="numero_pedido">@ViewBag.Guuid_Carrinho</span>
            </div>

            <div class="col-sm-3">
                <span id="pedido"></span>
            </div>
        </div>

        <div class="row mt-2 mb-4">
            <div class="col-sm-6">
                <button type="button" class="btn btn-primary" onclick="finalizarVenda();">Finalizar Venda</button>
            </div>
        </div>

        <table id="list_items" class="table table-bordered table-striped">
            <thead class="table-info">
                <tr>
                    <th>Produto</th>
                    <th>Valor</th>
                    <th>Desconto (%)</th>
                    <th>Valor Final</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot class="table-info">
                <tr>
                    <th>Produto</th>
                    <th>Valor</th>
                    <th>Desconto (%)</th>
                    <th>Valor Final</th>
                    <th>Ação</th>
                </tr>
            </tfoot>
        </table>
    </div>


</section>

<script type="text/javascript">

    $(document).ready(function () {
        listar();
    });

    function listar() {
        let guuid_cliente = $('#numero_pedido').html();

        $('#list_items').dataTable({
            'bPaginate': true,
            'bJQueryUI': true,
            'bProcessing': true,
            'bServerSide': true,
            "searching": true,
            'bDestroy': true,
            'sAjaxSource': `@Url.Action("CarrinhoPagination", "Venda")?guuid_carrinho=${guuid_cliente}`,
            'sServerMethod': 'POST',
            'aoColumns': [
                { 'mData': 'produto' },
                { 'mData': 'valor_produto' },
                { 'mData': 'desconto' },
                { 'mData': 'valor_final' },
                { 'mData': 'acao' }
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json"
            }
        });
    };

    function adicionarProduto() {
        fechar_alerta();
        let Guuid_Carrinho = '@pedido';

        $.ajax({
            type: 'POST',
            data: {
                'Guuid_Carrinho': Guuid_Carrinho,
                'Guuid_Cliente': $('#guuid_cliente').val(),
                'Guuid_Produto': $('#select-produtos').val(),
                'Desconto': $('#desconto').val(),
            },
            url: '@Url.Action("AdicionarProduto", "Venda")',
            success: function (result) {
                if (result.is_action) {
                    $('#msgSucess #sucessMsg').html('Produto adicionado com sucesso.');
                    $('#sucessModal').show();
                    $('#desconto').val('');
                    window.location.reload();

                    listar();
                }
                else {
                    $('#msgError #erroMsg').html(result.error);
                    $('#errorModal').show();
                }
            },
            error: function (error)
            {
                $('#msgError #erroMsg').html(error.error);
                $('#errorModal').show();
            },
            datatype: 'json'
        });
    }

    function removerProduto(id) {
        fechar_alerta();

        $.ajax({
            type: 'POST',
            data: {
                'id': id,
            },
            url: '@Url.Action("RemoverProduto", "Venda")',
            success: function (result) {
                if (result.is_action) {
                    $('#msgSucess #sucessMsg').html('Produto removido com sucesso.');
                    $('#sucessModal').show();

                    window.location.reload();
                }
                else {
                    $('#msgError #erroMsg').html(result.error);
                    $('#errorModal').show();
                }
            },
            error: function (error)
            {
                $('#msgError #erroMsg').html(error.error);
                $('#errorModal').show();
            },
            datatype: 'json'
        });
    }

        function finalizarVenda() {
        fechar_alerta();
        let Guuid_Carrinho = '@pedido';

        $.ajax({
            type: 'POST',
            data: {
                'Guuid_Carrinho': Guuid_Carrinho,
                'Guuid_Cliente': $('#guuid_cliente').val(),
                'Tipo_Pagamento': $('#select-tipo-pagamento').val(),
            },
            url: '@Url.Action("FinalizarVenda", "Venda")',
            success: function (result) {
                if (result.is_action) {
                    $('#msgSucess #sucessMsg').html('Venda finalizada com sucesso.');
                    $('#sucessModal').show();
                    window.location.href = '@Url.Action("Index", "Venda")';

                }
                else {
                    $('#msgError #erroMsg').html(result.error);
                    $('#errorModal').show();
                }
            },
            error: function (error)
            {
                $('#msgError #erroMsg').html(error.error);
                $('#errorModal').show();
            },
            datatype: 'json'
        });
    }

</script>