@using DedInfoservices.Enums;
@{
    ViewData["Title"] = "Registrar Venda";
    Layout = "_Layout";
    string pedido = @ViewBag.Guuid_Carrinho;
}

<link rel="stylesheet" href="~/css/venda.css" />

<section>
    <div class="container">

        <h2 class="text-center">REGISTRAR NOVA VENDA</h2>

        <div>
            <div id="errorModal" style="display: none">
                <div id="msgError" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="fa fa-ban"></i>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

                    <span id="erroMsg"></span>
                </div>
            </div>
            <div id="sucessModal" style="display: none">
                <div id="msgSucess" class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="fa fa-check"></i>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

                    <span id="sucessMsg"></span>
                </div>
            </div>
        </div>

        <div class="row mt-2 mb-2">
            <div class="col-sm-12">
                <strong><label>Cliente:</label></strong>
                <input type="text" id="guuid_cliente" name="guuid_cliente" value="@ViewBag.Cliente.Guuid" style="display:none" />
                <span>@ViewBag.Cliente.Nome @ViewBag.Cliente.Sobrenome</span>
            </div>
        </div>

        <div class="row mt-2 mb-2">
            
            <div class="col-xl-1">
                <strong><label>Produto:</label></strong>
            </div>

            <div class="col-xl-4">
                <select id="select-produtos" class="form-select">
                    <option value="">Selecione...</option>
                    @foreach (var item in @ViewBag.Produtos)
                    {
                        <option value="@item.Guuid">@item.Nome - R$ @item.Valor</option>
                    }
                </select>
            </div>

            <div class="col-xl-1">
                <input type="text" placeholder="desconto" id="desconto" name="desconto" maxlength="2" class="form-control" />
            </div>

            <div class="col-xl-1">
                <button type="button" class="btn btn-success" onclick="adicionarProduto();">Adicionar</button>
            </div>
        </div>

        <div class="row mt-2 mb-2">
            <div class="col-sm-12">
                <strong><label>Nº do Pedido: </label></strong> <span id="numero_pedido">@ViewBag.Guuid_Carrinho</span>
                    <span id="pedido"></span>
            </div>
        </div>

        @if (!string.IsNullOrEmpty(pedido))
        {
            <div class="row mt-2 mb-4">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary" onclick="modalFormaPagamento();">Finalizar Venda</button>
                    <button type="button" class="btn btn-danger" onclick="cancelarCarrinho();">Cancelar Venda</button>
                </div>
            </div>
        }



        <table id="list_items" class="table table-bordered table-striped">
            <thead class="table-info">
                <tr>
                    <th>Produto</th>
                    <th>Valor</th>
                    <th>Desconto (%)</th>
                    <th>Valor Final</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot class="table-info">
                <tr>
                    <th>Valor Total Bruto</th>
                    <th>@ViewBag.ValorBruto</th>
                    <th>Valor Total Com Desconto</th>
                    <th>@ViewBag.ValorAposDesconto</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>

    <div id="modalFormaPagamento" style="text-align:center; color:black">
        <div class="modal fade" id="modal-forma-pagamento" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Forma de Pagamento</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                    </div>
                    <div class="modal-body">
                        <div class="row">

                            <div class="form-group col-sm-12 ">
                                <label for="forma-pagamento">Selecione a forma de pagamento (*)</label>
                                <select id="forma-pagamento" name="forma-pagamento" class="form-select">
                                    <option value="">Selecione...</option>
                                    <option value="@TipoPagamentoEnum.Debito">Débito</option>
                                    <option value="@TipoPagamentoEnum.Credito">Crédito</option>
                                    <option value="@TipoPagamentoEnum.Pix">Pix</option>
                                    <option value="@TipoPagamentoEnum.Promissoria">Promissória</option>
                                    <option value="@TipoPagamentoEnum.Dinheiro">Dinheiro</option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btn-finalizar-venda" class="btn btn-primary pull-right" onclick="finalizarVenda();">Finalizar Venda</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

<script type="text/javascript">

    $(document).ready(function () {
        listar();
    });

    function listar() {
        let guuid_cliente = $('#numero_pedido').html();

        $('#list_items').dataTable({
            'bPaginate': true,
            'bJQueryUI': true,
            'bProcessing': true,
            'bServerSide': true,
            "searching": true,
            'bDestroy': true,
            'sAjaxSource': `@Url.Action("CarrinhoPagination", "Venda")?guuid_carrinho=${guuid_cliente}`,
            'sServerMethod': 'POST',
            'aoColumns': [
                { 'mData': 'produto' },
                { 'mData': 'valor_produto' },
                { 'mData': 'desconto' },
                { 'mData': 'valor_final' },
                { 'mData': 'acao' }
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json"
            }
        });
    };

    function adicionarProduto() {
        let Guuid_Carrinho = '@pedido';

        $.ajax({
            type: 'POST',
            data: {
                'Guuid_Carrinho': Guuid_Carrinho,
                'Guuid_Cliente': $('#guuid_cliente').val(),
                'Guuid_Produto': $('#select-produtos').val(),
                'Desconto': $('#desconto').val(),
            },
            url: '@Url.Action("AdicionarProduto", "Venda")',
            success: function (result) {
                if (result.is_action) {
                    $('#msgSucess #sucessMsg').html('Produto adicionado com sucesso.');
                    $('#sucessModal').show();
                    $('#desconto').val('');
                    window.location.reload();

                    listar();
                }
                else {
                    $('#msgError #erroMsg').html(result.error);
                    $('#errorModal').show();
                }
            },
            error: function (error)
            {
                $('#msgError #erroMsg').html(error.error);
                $('#errorModal').show();
            },
            datatype: 'json'
        });
    }

    function removerProduto(id) {
        $.ajax({
            type: 'POST',
            data: {
                'id': id,
            },
            url: '@Url.Action("RemoverProduto", "Venda")',
            success: function (result) {
                if (result.is_action) {
                    $('#msgSucess #sucessMsg').html('Produto removido com sucesso.');
                    $('#sucessModal').show();

                    window.location.reload();
                }
                else {
                    $('#msgError #erroMsg').html(result.error);
                    $('#errorModal').show();
                }
            },
            error: function (error)
            {
                $('#msgError #erroMsg').html(error.error);
                $('#errorModal').show();
            },
            datatype: 'json'
        });
    }

    function finalizarVenda() {
        let Guuid_Carrinho = '@pedido';

        $.ajax({
            type: 'POST',
            data: {
                'Guuid_Carrinho': Guuid_Carrinho,
                'Guuid_Cliente': $('#guuid_cliente').val(),
                'Tipo_Pagamento': $('#forma-pagamento').val(),
            },
            url: '@Url.Action("FinalizarVenda", "Venda")',
            success: function (result) {
                if (result.is_action) {
                    $('#msgSucess #sucessMsg').html('Venda finalizada com sucesso.');
                    $('#sucessModal').show();
                    window.location.href = '@Url.Action("Index", "Venda")';

                }
                else {
                    $('#msgError #erroMsg').html(result.error);
                    $('#errorModal').show();
                }
            },
            error: function (error)
            {
                $('#msgError #erroMsg').html(error.error);
                $('#errorModal').show();
            },
            datatype: 'json'
        });
    }

    function cancelarCarrinho() {
        let Guuid_Carrinho = '@pedido';

        $.ajax({
            type: 'POST',
            data: {
                'guuid_carrinho': Guuid_Carrinho,
            },
            url: '@Url.Action("ExcluirCarrinho", "Venda")',
            success: function (result) {
                if (result.is_action) {
                    $('#msgSucess #sucessMsg').html('Carrinho cancelado com sucesso.');
                    $('#sucessModal').show();

                    window.location.reload();
                }
                else {
                    $('#msgError #erroMsg').html(result.error);
                    $('#errorModal').show();
                }
            },
            error: function (error)
            {
                $('#msgError #erroMsg').html(error.error);
                $('#errorModal').show();
            },
            datatype: 'json'
        });
    }

    function modalFormaPagamento() {
        $('#modal-forma-pagamento').modal('show');

    }


   function cancelarVenda() {
        $.ajax({
            type: 'POST',
            data: {
                'guuid_venda': $('#forma-pagamento').val(),
            },
            url: '@Url.Action("CancelarVenda", "Venda")',
            success: function (result) {
                if (result.is_action) {
                    $('#msgSucess-produto #sucessMsg-produto').html('Venda cancelada com sucesso.');
                    $('#sucessModal-produto').show();

                    listar();
                }
                else {
                    $('#msgError-produto #erroMsg-produto').html(result.error);
                    $('#errorModal-produto').show();
                }
            },
            error: function (error)
            {
                $('#msgError-produto #erroMsg-produto').html(error.error);
                $('#errorModal-produto').show();
            },
            datatype: 'json'
        });
   }
</script>