@{
    ViewData["Title"] = "Recuperaçao de Senha";
    Layout = "_LayoutLogin";
}

<div class="container-fluid bg full-height d-flex">
    <div class="d-flex flex-column justify-content-between w-100">
        <div class="container d-flex h-100">
            <div class="row align-items-center w-100" style="margin-left: 0px;">
                <div class="col-md-7 col-lg-5 m-h-auto">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-center mb-10 ">
                            <img class="mt-5" src="/images/logo_menu.svg" alt="Detran/BA" style="width: 15rem;" />
                        </div>

                        <div id="msgError" class="alert alert-danger alert-dismissible fade in mgtp" style="display: none;">
                            <i class="fa fa-ban"></i>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

                            <span id="erroMsg"></span>
                        </div>

                        <div id="msgSucess" class="alert alert-success alert-dismissible fade in mgtp" style="display: none;">
                            <i class="fa fa-check"></i>
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>

                            <span id="sucessoMsg"></span>
                        </div>

                        <div id="form-login m-5">
                            @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @id = "form-validation", @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />

                                <div class="form-group mt-5">
                                    <label class="font-weight-semibold" for="email">Email:</label>
                                    <div class="input-affix mb-2">
                                        <i class="prefix-icon anticon anticon-user"></i>
                                        <input type="email" class="form-control" name="email" id="email" placeholder="admin@email.com.br" required />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <span class="font-size-13 text-muted">

                                        </span>
                                        <button type="button" id="btn-login" class="btn btn-success-att btn-block" onclick="logar()">Recuperar</button>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div style="text-align:center">
                                        <a href="@Url.Action("Index", "Login")">Voltar</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="d-flex align-items-center justify-content-between">
            <div class="footer-content">
                <span style="color:#000000; text-align:center;">Copyright © @DateTime.Now.Year DeD Infoservices. Todos os direitos reservados.</span>
            </div>
        </footer>
    </div>


</div>

<script>

    $(document).ready(function () {
        $('#form-validation').bootstrapValidator({
            fields: {
                email: {
                    validators: {
                        notEmpty: {
                            message: 'Campo email é obrigatório.'
                        }
                    }
                }
            }
        }).on('success.form.bv', function (e) {
        });

    });
    function EsqueceuSenha() {
        fechar_alerta();

        let email = $('#email').val();
        $('#msgError #erroMsg').html();
        $('#item_form #msgError').hide();
        $.ajax({
            type: 'POST',
            data: {
                'email': email,
            },
            url: '@Url.Action("EsqueceuSenha", "Login")',
            success: function (result) {
                if (result.is_action) {
                    $('.overlay').hide();
                    $('#errorModal').hide();
                    $('#msgSucess #sucessMsg').html('Nova senha enviada com sucesso!!!');
                    $('#sucessModal').show();
                    $('#email').val('');
                }
                else
                {
                    $('#msgError #erroMsg').html(result.error);
                    $('#errorModal').show();
                    $('#sucessModal').hide();
                }
            },
            error: function (error) {
                $('#msgError #erroMsg').html(result.error);
                $('#errorModal').show();
            },
            datatype: 'json'
        });
    }

    function fechar_alerta() {
        $('#errorModal').hide();
        $('#sucessModal').hide();
    }


</script>
