@model DedInfoservices.Models.Cliente
@{
    ViewData["Title"] = "Salvar Cliente";
    Layout = "_Layout";
    bool novo = Model.Ide_Cliente <= 0;
}

<link rel="stylesheet" href="~/css/produto.css" />

<section>
    <div class="text-center container">
        <br />
        @if (novo)
        {
            <h2>CADASTRAR CLIENTE</h2>
        }
        else
        {
            <h2>EDITAR CLIENTE</h2>
        }
        <br />

        <div>
            <div id="errorModal" style="display: none">
                <div id="msgError" class="alert alert-danger alert-dismissible fade show">
                    <i class="fa fa-ban"></i>
                    <button class="btn-close" onclick="fechar_alerta();" aria-hidden="true" type="button"></button>

                    <span id="erroMsg"></span>
                </div>
            </div>
            <div id="sucessModal" style="display: none">
                <div id="msgSucess" class="alert alert-success alert-dismissible fade show">
                    <i class="fa fa-check"></i>
                    <button class="btn-close" onclick="fechar_alerta();" aria-hidden="true" type="button"></button>

                    <span id="sucessMsg"></span>
                </div>
            </div>
        </div>
        <div class="row">
            @if (!novo)
            {
                <div class="form-group col-sm-6 mt-3">
                    <label for="ide">Ide</label>
                    <input type="number" name="ide" id="ide" class="form-control" value="@Model.Ide_Cliente" disabled>
                </div>

                <div class="form-group col-sm-6 mt-3">
                    <label for="guuid">Guid</label>
                    <input type="text" name="guuid" id="guuid" class="form-control" value="@Model.Guuid" disabled>
                </div>
            }

            <div class="form-group col-sm-6 mt-4">
                <label for="nome">Nome (*)</label>
                <input type="text" placeholder="Nome do Cliente" id="nome" name="nome" value="@Model.Nome" class="form-control" required>
            </div>

            <div class="form-group col-sm-6  mt-4">
                <label for="sobrenome">Sobrenome</label>
                <input type="text" placeholder="Sobrenome do Cliente" id="sobrenome" name="sobrenome" value="@Model.Sobrenome" class="form-control">
            </div>


            <div class="form-group col-sm-6  mt-4">
                <label for="nome">Telefone (*)</label>
                <input type="number" placeholder="Telefone do Cliente" id="telefone" name="telefone" value="@Model.Telefone" class="form-control" required>
            </div>

            <div class="form-group col-sm-6  mt-4">
                <label for="email">Email</label>
                <input type="email" placeholder="Email do Cliente" id="email" name="email" value="@Model.Email" class="form-control">
            </div>

            <div class="form-group col-sm-6 text-start mt-2">
                <input type="checkbox" id="is_whatsapp" name="is_whatsapp" value="@Model.Is_Whatsapp" />
                <label for="is_whatsapp">Este telefone é whatsapp?</label>
            </div>

            <div class="row mt-4">
                <div class="form-group col-sm-12">
                    <button type="submit" class="btn @(novo ? "btn-primary" : "btn-success")" onclick="salvarCliente();">
                        @(novo ? "Adicionar" : "Atualizar")
                    </button>
                    <a href="@Url.Action("Index", "Cliente")" class="btn btn-light">Voltar</a>
                </div>
            </div>
        </div>


    </div>
</section>


<script type="text/javascript">

    $(document).ready(function () {
    });


    function salvarCliente() {
        fechar_alerta();

        let guuid = '@novo' == "True" ? "" : $('#guuid').val();

        $.ajax({
            type: 'POST',
            data: {
                'Guuid': guuid,
                'Nome': $('#nome').val(),
                'Sobrenome': $('#sobrenome').val(),
                'Email': $('#email').val(),
                'Telefone': $('#telefone').val(),
                'Is_Whatsapp': $('#is_whatsapp').is(':checked')
            },
            url: '@Url.Action("SalvarCliente", "Cliente")',
            success: function (result) {
                if (result.is_action) {
                    $('#msgSucess #sucessMsg').html('@novo' == "True" ? 'Cliente adicionado com sucesso.' : 'Cliente atualizado com sucesso.');
                    $('#sucessModal').show();

                    if ('@novo' == "True") {
                        $('#nome').val('');
                        $('#sobrenome').val('');
                        $('#email').val('');
                        $('#telefone').val('');
                    }
                }
                else {
                    $('#msgError #erroMsg').html(result.error);
                    $('#errorModal').show();
                }
            },
            error: function (error)
            {
                $('#msgError #erroMsg').html(error.error);
                $('#errorModal').show();
            },
            datatype: 'json'
        });
    }

    function fechar_alerta() {
        $('#errorModal').hide();
        $('#sucessModal').hide();
    }

</script>