@model DedInfoservices.Models.Usuario
@using DedInfoservices.Enums;
@{
    ViewData["Title"] = "Salvar Usuário";
    Layout = "_Layout";
    bool novo = Model.Ide_Usuario <= 0;
}

<link rel="stylesheet" href="~/css/usuario.css" />

<section>
    <div class="text-center container">
        <br />
        @if (novo)
        {
            <h2>CADASTRAR USUÁRIO</h2>
        }
        else
        {
            <h2>EDITAR USUÁRIO </h2>
        }
        <br />

        <div>
            <div id="errorModal" style="display: none">
                <div id="msgError" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="fa fa-ban"></i>
                    <button class="btn-close" onclick="fechar_alerta();" aria-hidden="true" type="button"></button>

                    <span id="erroMsg"></span>
                </div>
            </div>
            <div id="sucessModal" style="display: none">
                <div id="msgSucess" class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="fa fa-check"></i>
                    <button class="btn-close" onclick="fechar_alerta();" aria-hidden="true" type="button"></button>

                    <span id="sucessMsg"></span>
                </div>
            </div>
        </div>
        <div class="row">
            @if (!novo)
            {
                <div class="form-group col-sm-6 mt-3">
                    <label for="ide">Ide</label>
                    <input type="number" name="ide" id="ide" class="form-control" value="@Model.Ide_Usuario" disabled>
                </div>

                <div class="form-group col-sm-6 mt-3">
                    <label for="guuid">Guid</label>
                    <input type="text" name="guuid" id="guuid" class="form-control" value="@Model.Guuid" disabled>
                </div>
            }

            <div class="form-group col-sm-6 mt-3">
                <label for="nome">Nome (*)</label>
                <input type="text" placeholder="Nome do Usuário" id="nome" name="nome" value="@Model.Nome" class="form-control">
            </div>

            <div class="form-group col-sm-6 mt-3">
                <label for="sobrenome">Sobrenome (*)</label>
                <input type="text" placeholder="Sobrenome do Usuário" id="sobrenome" name="sobrenome" value="@Model.Sobrenome" class="form-control" required>
            </div>

            <div class="form-group col-sm-6 mt-3">
                <label for="nome">Email (*)</label>
                <input type="email" placeholder="Email do Usuário" id="email" name="email" value="@Model.Email" class="form-control">
            </div>

            <div class="form-group col-sm-6 mt-3">
                <label for="perfil">Perfil (*)</label>
                <select id="perfil" name="perfil" class="form-control">
                    <option value="">Selecione...</option>
                    <option value="@PerfilEnum.Admin">Administrador</option>
                    <option value="@PerfilEnum.Padrao">Padrão</option>
                </select>
            </div>


            <div class="row mt-3">
                <div class="form-group col-sm-12">
                    <button type="submit" class="btn @(novo ? "btn-primary" : "btn-success")" onclick="salvarUsuario();">
                        @(novo ? "Adicionar" : "Atualizar")
                    </button>
                    <a href="@Url.Action("Index", "Usuario")" class="btn btn-light">Voltar</a>
                </div>
            </div>
        </div>


    </div>
</section>


<script type="text/javascript">

    $(document).ready(function () {

    });

    function salvarUsuario() {
        fechar_alerta();
        if ($('#perfil').val() === '') {
            $('#msgError #erroMsg').html('Selecione um perfil.');
            $('#errorModal').show();
        };
        let guuid = '@novo' == "True" ? "" : $('#guuid').val();
        $.ajax({
            type: 'POST',
            data: {
                'Guuid': guuid,
                'Nome': $('#nome').val(),
                'Sobrenome': $('#sobrenome').val(),
                'Email': $('#email').val(),
                'Perfil': $('#perfil').val()
            },
            url: '@Url.Action("SalvarUsuario", "Usuario")',
            success: function (result) {
                if (result.is_action) {
                    $('#msgSucess #sucessMsg').html('@novo' == "True" ? 'Usuário adicionado com sucesso.' : 'Usuário atualizado com sucesso.');
                    $('#sucessModal').show();

                    if ('@novo' == "True") {
                        $('#nome').val('');
                        $('#sobrenome').val('');
                        $('#email').val('');
                        $('#perfil').val('');
                    }
                }
                else {
                    $('#msgError #erroMsg').html(result.error);
                    $('#errorModal').show();
                }
            },
            error: function (error)
            {
                $('#msgError #erroMsg').html(error.error);
                $('#errorModal').show();
            },
            datatype: 'json'
        });
    }

    function fechar_alerta() {
        $('#errorModal').hide();
        $('#sucessModal').hide();
    }

</script>
