@model DedInfoservices.Models.Produto
@{
    ViewData["Title"] = "Salvar Produto";
    Layout = "_Layout";
    bool novo = Model.Ide_Produto <= 0;
}

<link rel="stylesheet" href="~/css/produto.css" />

<section>
    <div class="text-center container">
        <br />
        @if (novo)
        {
            <h2>CADASTRAR PRODUTO</h2>
        }
        else
        {
            <h2>EDITAR PRODUTO</h2>
        }
        <br />

        <div>
            <div id="errorModal" style="display: none">
                <div id="msgError" class="alert alert-danger alert-dismissible fade show">
                    <i class="fa fa-ban"></i>
                    <button class="btn-close" onclick="fechar_alerta();" aria-hidden="true" type="button"></button>

                    <span id="erroMsg"></span>
                </div>
            </div>
            <div id="sucessModal" style="display: none">
                <div id="msgSucess" class="alert alert-success alert-dismissible fade show">
                    <i class="fa fa-check"></i>
                    <button class="btn-close" onclick="fechar_alerta();" aria-hidden="true" type="button"></button>

                    <span id="sucessMsg"></span>
                </div>
            </div>
        </div>
        <div class="row">
            @if (!novo)
            {
                <div class="form-group col-sm-6 mt-3">
                    <label for="ide">Ide</label>
                    <input type="number" name="ide" id="ide" class="form-control" value="@Model.Ide_Produto" disabled>
                </div>

                <div class="form-group col-sm-6 mt-3">
                    <label for="guuid">Guid</label>
                    <input type="text" name="guuid" id="guuid" class="form-control" value="@Model.Guuid" disabled>
                </div>
            }

            <div class="form-group col-sm-6 mt-3">
                <label for="nome">Nome (*)</label>
                <input type="text" placeholder="Nome do Produto" id="nome" name="nome" value="@Model.Nome" class="form-control" required>
            </div>

            <div class="form-group col-sm-6 mt-3">
                <label for="valor">Valor Unitário (*)</label>
                <input type="text" placeholder="Valor do Produto" id="valor" name="valor" value="@Model.Valor" class="form-control" maxlength="11" required>
            </div>

            <div class="form-group col-sm-6 mt-3">
                <label for="codigo_barras">Código de Barras</label>
                <input type="text" placeholder="Código de Barras" id="codigo_barras" name="codigo_barras" value="@Model.Codigo_Barras" class="form-control" maxlength="13">
            </div>

            <div class="form-group col-sm-6 mt-3">
                <label for="nome">Descrição</label>
                <input type="text" placeholder="Descrição do Produto" id="descricao" name="descricao" value="@Model.Descricao" class="form-control">
            </div>


            <div class="row mt-3">
                <div class="form-group col-sm-12">
                    <button type="submit" class="btn @(novo ? "btn-primary" : "btn-success")" onclick="salvarProduto();">
                        @(novo ? "Adicionar" : "Atualizar")
                    </button>
                    <a href="@Url.Action("Index", "Produto")" class="btn btn-light">Voltar</a>
                </div>
            </div>
        </div>


    </div>
</section>


<script type="text/javascript">

    $(document).ready(function () {

    });

    $('#codigo_barras').on('keypress', maskNumber);

    function maskNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if ((charCode > 31 && charCode < 48) || charCode > 57) {
            return false;
        }
        return true;
    }

    $("#valor").inputmask('currency', {
        "autoUnmask": true,
        radixPoint: ",",
        groupSeparator: ".",
        allowMinus: false,
        prefix: 'R$ ',
        digits: 2,
        digitsOptional: false,
        rightAlign: false,
        unmaskAsNumber: true
    });


    function salvarProduto() {
        fechar_alerta();

        let guuid = '@novo' == "True" ? "" : $('#guuid').val();

        $.ajax({
            type: 'POST',
            data: {
                'Guuid': guuid,
                'Nome': $('#nome').val(),
                'Valor': $('#valor').val(),
                'Codigo_Barras': $('#codigo_barras').val(),
                'Descricao': $('#descricao').val()
            },
            url: '@Url.Action("SalvarProduto", "Produto")',
            success: function (result) {
                if (result.is_action) {
                    $('#msgSucess #sucessMsg').html('@novo' == "True" ? 'Produto adicionado com sucesso.' : 'Produto atualizado com sucesso.');
                    $('#sucessModal').show();

                    if ('@novo' == "True") {
                        $('#nome').val('');
                        $('#valor').val('');
                        $('#codigo_barras').val('');
                        $('#descricao').val('');
                    }
                }
                else {
                    $('#msgError #erroMsg').html(result.error);
                    $('#errorModal').show();
                }
            },
            error: function (error)
            {
                $('#msgError #erroMsg').html(error.error);
                $('#errorModal').show();
            },
            datatype: 'json'
        });
    }

    function fechar_alerta() {
        $('#errorModal').hide();
        $('#sucessModal').hide();
    }

</script>